/depth_map.jpg
/heavy.jpg
/stereoscopic_sbs.jpg
/stereoscopic_sbs_from_depth.jpg
/stereoscopic_sbs_from_depth_pixelwise.jpg
/stereo_average.jpg
/stereo_difference.jpg
input/
output/
*.skb
credentials.json
token.json
*.gc
*.dwg
*.dxf
*.bak
*.svg
gallery/*/*.jpg
*.pyc
